<% include ../partials/header.ejs %>

<div class="log-screen col-sm-6 sign-div">
    <h1 id='main-text'>Login</h1>
    <hr>
    <% include ../partials/alerts.ejs %>
    <form class="login-form form" method="post" action="/auth/login">
        <input type="text" class="log-form form-control" placeholder="Enter your e-mail" name="email">
        <br><br>
        <input type="password" class="log-form form-control" placeholder="Enter your password" name="password">
        <br><br>
        <div class='col-sm-2 col-sm-offset-4'>
        <input type="submit" value="Submit" class="log-bt btn btn-warning">
        </div>
    </form>

</div>
<div class='col-sm-6'>
    <a href="/auth/signup" id='daniel' class="btn main-but btn-warning">Signup</a>
</div>
<% include ../partials/footer.ejs %>