
    </div>
    </div>
    <div class='container'>
    <hr id='head-foot-thing'>
    <div class='container col-sm-8 col-sm-offset-2'>

    <h5 align='center' id='copywrite'>copywrite: Mistuh-P</h5>
    </div>

</body>
</html>