        </div>
    <div class='container'>
    <hr id='head-foot-thing'>
    <div class='container col-md-8 col-md-offset-5'>
    <a href="/about" class="btn about-but btn-warning">About</a>
    <a href="/" class="btn about-but btn-warning">Main</a>
    </div>
    <h5 align='center' id='copywrite'>copywrite: Mistuh-P</h5>
    </div>
    </div>

</body>
</html>