
    </div>
    </div>
    <div class='container'>
    <hr id='head-foot-thing'>
    <div class='container col-sm-8 col-sm-offset-2'>
        <div class='col-sm-6'>
        <a href="/about" class="btn about-but btn-warning">About</a>
        </div>
        <div class='col-sm-6'>
        <a href="/" class="btn about-but btn-warning">Main</a>
        </div>
    <h5 align='center' id='copywrite'>copywrite: Mistuh-P</h5>
    </div>

</body>
</html>