<!DOCTYPE html>
<html>
<head>
    <title>WannaJam</title>
    <!-- Jquery -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- script and style -->
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <!-- leaflet -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <!-- map stuff -->
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>


    <div class='container'>



<ul class="nav nav-tabs">
  <li role="presentation"><a href="#">Home</a></li>
  <li role="presentation"><a href="/auth/login">Login</a></li>
  <li role="presentation"><a href="/auth/signup">Sign Up</a></li>
</ul>



        <h1 align="center">
            Wannajam
        </h1>

    </div>

</head>
<body id="main-background">
    <div class="container">
        <div align='center' class="row">
