<!DOCTYPE html>
<html>
<head>
    <title>WannaJam</title>
    <!-- Jquery -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- script and style -->
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <!-- leaflet -->
    <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <!-- map stuff -->
    <link href='//api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' />
    <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>
    <!-- google fonts -->
    <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>


    <div class='container'>




        <h1 id="brand-header" align="center">
            Wannajam
        </h1>
        <hr>

    </div>

</head>
<body id="main-background">
    <div class="container">
        <div align='center' class="row">
