h2{
  text-align: center;
  font-size: 20px;
  color: white;
}

#map {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 600px;
  width: 80%;
  border: 1px solid black;
  z-index:0;


  }

  .inst-div{
    align: center;
  }

  .menu-ui {
  background:rgba(0,0,0,0.4);
  /*position:absolute;*/
  top:10px;right:10px;
  z-index:1;
  border-radius:3px;
  width:18%;
  border:1px solid rgba(0,0,0,0.4);
  float: left;
  color: white;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  }

#main-background{
  background-image: url("/images/congruent_pentagon.png");
  background-repeat: scroll;
  background-attachment: fixed;
}

/*http://www.the-brook.com/wp-content/uploads/2013/01/background.jpg*/

.map-box{
  display: inline-block;
}

#copywrite{
  color: black;
  /*padding-right: 50px;*/

}


#logout-button{
margin-right: 20px;
}

#edit-info{
margin-right: 20px;
}

#edit-instruments{
margin-right: 20px;
}

#brand-header{
  font-family: 'Lobster', cursive;
  font-size: 60px;
}

#main-text{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
}

#main-text-1{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: black;
}

.main-but{
  height: 100px;
  width: 250px;
  font-size: 40px;
  color: black;
  font-family: 'Lobster', cursive;
  padding-top: 15px;
  border-color: black;

}

.about-but{
  height: 40px;
  width: 70px;
  font-size: 20px;
  color: black;
  font-family: 'Lobster', cursive;
  padding-bottom: 20px;
  border-color: black;

}

.about{
  width: 80%;
}

#info{
  background:rgba(0,0,0,0.4);
  color: white;
  font-family: 'Raleway', sans-serif;

}


.log-form{
  text-align: center;
}

.log-bt{
  color: black;
  font-family: 'Lobster', cursive;
  height: 50px;
  width: 80px;
  font-size: 20px;

  border-color: black;

}



.log-bt1{
  color: black;
  font-family: 'Lobster', cursive;
  height: 50px;
  width: 150px;
  font-size: 20px;

  border-color: black;

}

.log-bt2{
  color: black;


  font-family: 'Lobster', cursive;
  height: 50px;
  width: 150px;
  font-size: 20px;

  border-color: black;

}

.log-screen{
  padding-bottom: 50px;
}

#daniel{
  margin-top: 50px;
}

.index-screen{
  margin-bottom: 130px;
}

/*.sign-up-div{
  margin-left: 240px;
}*/

#sign-up-form{
  text-align: center;
}

.inst-form{
  background:rgba(0,0,0,0.4);
 color: white;
 padding: 20px;
 width: 60%;
}

input.inst-check{
  margin-left: 10px;
 background:rgba(0,0,0,0.4);
}

#user-bar{
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

#bio-form{
  height: 40px;
}

.fontii-1{
  font-family: 'Lobster', cursive;
  font-size: 28px;
}

.fontii-2{
  font-family: 'Lobster', cursive;
  font-size: 20px;
  color: orange;
}

.sign-div{
  background:rgba(0,0,0,0.4);
}

.sign-div-1{
  background:rgba(0,0,0,0.7);
}

#about-info{
  color: white;
  text-align: center
}

.nav-style{
  background-color: rgba(0,0,0,0.7);
  border-color: black;
}

.navbar-default .navbar-brand {
  color: orange;
}

.navbar-default .navbar-nav>li>a {
  color: orange;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus  {
  color: white;
}