<% include ../partials/header.ejs %>


<div class="about container">
  <h1>About</h1>
  <p>Wannajam is an app that allows users to find musicians in their area.
   After creating a profile, a user can search for musicians by instrument
   played with a simple click.

   It is a work in progress and still lacks the ability to communicate
   with other users. It is not recommended that you sign up with legitimate
   information at this moment in time.

   For more information, feel free to drop me a line.

   Thanks for stopping by.

   <h2 id='info'>Patrick Eldridge
        <br>
       mistuhpat@gmail.com
   </h2>
  </p>
</div>









<% include ../partials/footer.ejs %>