<% include ../partials/header.ejs %>


<div class="about container sign-div-1">
  <h1 id='about-info'>About</h1>
  <p id='about-info'>Wannajam is an app that allows users to find musicians in the Seattle area.
   After creating a profile, a user can search for musicians by instrument
   played with a simple click.

   It is the first web app I ever made, and it still lacks the ability to communicate
   with other users. It is not recommended that you sign up with legitimate
   information at this moment in time.

   For more information, feel free to drop me a line.

   Thanks for stopping by.

   <h2 id='info'>Patrick Eldridge
        <br>
       mistuhpat@gmail.com
   </h2>
  </p>
</div>









<% include ../partials/footer.ejs %>