<% include ../partials/header.ejs %>
<h1>Find and get Found by musicians</h1>

<% include ../partials/alerts.ejs %>

<br><br>
<a href="/restricted" class="btn btn-danger">Go to restricted page</a>
<a href="/auth/login" class="btn btn-primary">Login</a>
<a href="/auth/signup" class="btn btn-primary">Signup</a>

<h1>Because ...</h1>

<% include ../partials/footer.ejs %>
