<% include ../partials/header.ejs %>
<h1 id='main-text'>Find and get Found by musicians</h1>

<% include ../partials/alerts.ejs %>

<div class='index-screen container'>
<br><br>
<a href="/auth/login" class="btn main-but btn-warning">Login</a>
or
<a href="/auth/signup" class="btn main-but btn-warning">Signup</a>
</div>


<% include ../partials/footer.ejs %>
