<% include ../partials/header %>



<% if(user) { %>
<p id='user-bar'>Welcome, <b><%= typeof user.name === 'string' ? user.name : 'Unknown' %></b>.

<a id='edit-instruments' class="btn log-bt1 btn-warning" href="/auth/instruments">edit instruments</a>
<!-- <a href="/auth/signup" class="btn main-but btn-warning">Signup</a> -->

<a id='edit-info' class="btn log-bt1 btn-warning" href="/auth/edit">edit profile</a>


<a id='logout-button' class="btn log-bt1 btn-warning" href="/auth/logout">logout</a>
</p>
<% } %>


<h1 id='main-text'>Search by Instrument</h1>


<!-- this is where you put your map stuff -->

<div class="container map-box">

<nav class='menu-ui'>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Acoustic Guitar"> Acoustic Guitar
        <br><br>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Electric Guitar"> Electric Guitar
        <br><br>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Bass Guitar"> Bass Guitar
        <br><br>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Banjo"> Banjo
        <br><br>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Mandolin"> Mandolin
        <br><br>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Lap Steel"> Lap Steel
        <br><br>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Drums"> Drums
        <br><br>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Aux Percussion"> Aux Percussion
        <br><br>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Keys"> Keys
        <br><br>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Organ"> Organ
        <br><br>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Vocals"> Vocals
        <br><br>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Background Vocals"> Background Vocals
        <br><br>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Trumpet"> Trumpet
        <br><br>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Trombone"> Trombone
        <br><br>
        <input class='filter-checkbox' type="checkbox" name="instruments" value="Saxophone"> Saxophone
        <br><br>

</nav>
    <div id="map" class="dark">


    </div>
  </div>

  <script>
    var myPoints = <%- JSON.stringify(user) %>;
    // console.log("what is this?", location)
    drawMap(myPoints)
  </script>






<% include ../partials/footer %>

